

.logobox{
    padding: 0;

}

.title{
    padding: 0;
}
.titletext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    color: #2d3c49;
    vertical-align: top;
    
}
.subtitletext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    vertical-align: bottom;
    color: #2d3c49;
}
body{
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
h2{
    color: #7d97ad;
}
.mainbox{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 0%;
}
.header{
    padding-bottom: 1em;
}
.subitems{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.subtitle{
    padding-bottom: 0.5em;
}
hr{
    height: 0.25em;
    background-color:#7d97ad;
    
}
.firstcr{
    display: flex;
    flex-wrap: wrap;
}
.pictext{
    display: inline-block;
    padding-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}


